<footer class="bg-white rounded-lg shadow-sm  z-[55] relative ">
    <div class="container mx-auto text-center">
      <div class="flex flex-col md:flex-row items-center justify-between mx-15 border-b-2 border-gray-200 h-30">
        <!-- Logo -->
        <div class="flex items-center gap-2">
          <img src="logo-BfNap0Pe.png" alt="Recipe Logo" class="w-10 h-10">
          <span class="text-xl font-semibold">Recipe</span>
        </div>
  
        <!-- Copyright Text -->
      
        <!-- Navigation -->
        
          <p class="text-blue-600 text-xl font-bold">Route</p>
        
      </div>
        <p class="text-sm mt-4 md:mt-0 text-gray-600 h-20">© 2025 Nagy Osama™. All Rights Reserved.</p>
  
    </div>
  </footer>
  