<div class="p-4 sm:ml-64 text-center md:text-start">
    <h1 class="font-[Pacifico] text-4xl font-bold mb-10 bg-gradient-to-r from-primary   via-[#ca1023c4] to-[#c90519]  bg-clip-text text-transparent">
        Learn, Cook, Eat Your Food</h1>

    <ul class="md:flex hidden mt-8 flex-wrap gap-4 border-b font-medium text-center text-gray-500 border-b-gray-100 
    dark:border-gray-200 dark:text-gray-400">

        <!-- "All" Category Button -->
        <li class="me-2">
            <a class="cursor-pointer inline-block px-4 py-3 text-white bg-black border-2 border-black/25 rounded-full active"
                aria-current="page" (click)="getmealsall()" [ngClass]="{
        'bg-black text-white': activeCategory == 'all',
        'bg-white text-black hover:bg-gray-200': activeCategory != 'all'
      }">
                All
            </a>
        </li>

        <!-- Dynamic Categories -->
        @for (cat of categories; track $index) {
        <li class="me-2 ">
            <a class="cursor-pointer inline-block px-4 py-2 border border-gray-400 transition-all hover:shadow-xl shadow duration-300 
           rounded-full hover:text-gray-600 hover:bg-white/50 text-gray-500" [ngClass]="{
            'bg-black text-white': activeCategory === cat.strCategory,
            'bg-white text-black hover:bg-gray-200': activeCategory !== cat.strCategory
          }" (click)="getMeals(cat.strCategory)" data-discover="true">
                {{ cat.strCategory }}
            </a>
        </li>}

    </ul>
 
    
<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="w-full text-center md:hidden text-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center border-2 border-green-300" type="button">Dropdown button <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
    </button>
    
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden w-full sm:w-[50%] bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 ">
        <ul class="py-2 w-full  text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li class="my-2 px-10">
                <a class="cursor-pointer inline-block w-full  text-white bg-black border-2 border-black/25 rounded-full active"
                    aria-current="page" (click)="getmealsall()" [ngClass]="{
            'bg-black text-white': activeCategory == 'all',
            'bg-white text-black hover:bg-gray-200': activeCategory != 'all'
                    }">
                    All
                </a>
            </li>
    
            <!-- Dynamic Categories -->
            @for (cat of categories; track $index) {
            <li class="my-2 px-10">
                <a class="w-full cursor-pointer inline-block px-4 py-2 border border-gray-400 transition-all hover:shadow-xl shadow duration-300 
               rounded-full hover:text-gray-600 hover:bg-white/50 text-gray-500" [ngClass]="{
                'bg-black text-white': activeCategory === cat.strCategory,
                'bg-white text-black hover:bg-gray-200': activeCategory !== cat.strCategory
              }" (click)="getMeals(cat.strCategory)" data-discover="true">
                    {{ cat.strCategory }}
                </a>
            </li>}
    
        </ul>
    </div>
    

    <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-6 gap-y-20 mt-30  mx-auto">

        @for (item of meals; track $index) {
        <div
            class="w-full max-w-sm bg-white border group border-gray-200 rounded-[35px] hover:shadow-lg hover:inset-shadow-neutral-950 transition-all duration-500 hover:scale-105 ">

            <div class="flex px-2 text-center flex-col items-center pb-10 ">
                <img class="w-50 h-50 -mt-15 mb-10 rounded-full  group-hover:rotate-[360deg]
            duration-700 transition-all drop-shadow-xl shadow-2xl" [src]="item.strMealThumb" alt="Bonnie image" />
                <h3 class="mb-1 text-2xl font-medium  text-black ">{{item.strMeal.split(" ",3).join(' ')}}</h3>
                @if (item.strArea) {
                <h5 class="flex justify-center items-center gap-2  text-green-500"> <svg stroke="currentColor"
                        fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z">
                        </path>
                    </svg>{{item.strArea}}</h5>
                } <button
                    class="text-white bg-gradient-to-r mt-4 bg-emerald-500 hover:bg-emerald-600 font-semibold hover:shadow-lg hover:scale-105 transition-all duration-300  px-8 py-2 rounded-full"><a
                        [routerLink]="['/mealdetails',item.idMeal]" data-discover="true"> View Recipe</a> </button>
            </div>
        </div>}
    </div>
</div>